#main{
  height: 50px;
  width: 900px;
  background-color: lightpink;
  border: 3px solid lightblue;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  
}
.inside{
  height: 50px;
  width: 80px;
  font-size: 24px;
  line-height:50px;
}