#mainTopic{
  color: blue;
}
*{
  text-align: center;
}
h1,h3,h5{
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.change{
  color:white;
  background-color: cornflowerblue;
}

div button{
  background-color: purple;
  color: azure;
}
button:hover{
  background-color: yellow;
  color:blue;
}

/* This is something new understand it  */
p:nth-of-type(2n+1){
  color: yellow;
}

h1::first-letter{
  color: red;;
}

/* This is something new understand it  */
#yes:checked+label{
  color: darkgreen;
}
