.p{
  height: 150px;
  width: 300px;
  background-color: grey;
  border: 5px dotted black;
  padding: 1em;
  margin-top: 20px;
  margin-right: 1em;
  margin-bottom: 40px;
  margin-left: 2em;
}

.q{
  height: 100px;
  width: 100px;
  background-color: pink;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
}

ul{
  display: inline;
}