.main{
  height: 200px;
  width: 70px;
  border: 2px solid black;
}

.outer1{
  height:50px;
  width:50px;
  border: 2px solid black;
  margin:10px;
  border-radius: 50%;
  background-color: red;
}

.outer2{
  height:50px;
  width:50px;
  border: 2px solid black;
  margin:10px;
  border-radius: 50%;
  background-color: yellow;
}

.outer3{
  height:50px;
  width:50px;
  border: 2px solid black;
  margin:10px;
  border-radius: 50%;
  background-color: green;
}

#blocks{
  height:100px;
  width: 100px;
  background-color: aqua;
  border:2px solid black;
  margin:10px;
  display: inline-block;
}