div{
  height: 200px;
  width: 500px;
  border-width: 5px;
  border-style: solid;
  border-color: yellow;
  border-left: 4px solid black;
  background-color: bisque;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 20px;
  margin-left: 50px;
}
h1{
  width: 250px;
  border:4px dotted green;
  margin: 15px 20px;
}
button{
  background-color: beige;
  color: blue;
  border:5px solid red;
  border-radius: 100px;
  padding: 5px 100px 5px 100px;
  margin:0px;
}